{% extends "base.html" %}
<!-- {% block title %}Stream{% endblock %} -->
{% block content %}
<form action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">
    <input type = "file" name = "file" multiple />
    <input type = "submit"/>
</form>
<br>
<hr>
    {% if "POST" in method %}
        <a href="{{url_for('search')}}"><button>Search Captions</button></a>
        <br>
        <hr>
        <a href="{{url_for('get_captions')}}"><button>See Caption History</button></a>
    {% endif %}
{% endblock %}